<section class="feed">
  <h1 class="feed__title">⚡ BSN - Feed</h1>

  <div class="feed__container">
    <% data.posts.forEach(post => { %>
      <article class="feed__card">
        <div>
          <img class="card__image" src=<%= post.image %> />
        </div>
        <div>
          <h2 class="card__title"><%= post.title %></h2>
          <p class="card__body"><%= post.body %></p>
          <em>de: <%= post.user_id %></em><br />
          <% if (locals.isAdmin) { %>
            <button type="button">Modifier</button>
          <% } %>
        </div>
      </article>
    <% }); %>
  </div>
</section>

<div class="json-display">
  <pre><%= JSON.stringify(data.posts, null, 2) %></pre>
</div>