<section class="users">
  <h2 class="users__title">Liste des utilisateurs</h2>

    <div class="users__table-container">
        <table class="users__table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                <% data.users.forEach(user => { %>
                    <tr>
                        <td><%= user.lastname %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.email %></td>
                        <td><%= user.description %></td>
                        <td><%= user.role_id === 1 ? 'Admin' : 'Utilisateur' %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
<%- include('json') %>
</div>