<section class="users">
  <h2 class="users__title">Liste des utilisateurs</h2>

    <div class="users__table-container">
        <table class="users__table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Description</th>
                    <th>Rôle</th>
                    <% if (locals.whoIs.role === 'admin') { %>
                      <th>Actions</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% data.users.forEach(user => { %>
                    <% if (user._id !== locals.whoIs.userId) { %>
                        <tr>
                            <td><%= user.lastname %></td>
                            <td><%= user.firstname %></td>
                            <td><%= user.email %></td>
                            <td><%= user.description %></td>
                            <td><%= user.role_id === 1 ? 'Admin' : 'Utilisateur' %></td>
                            <% if (locals.whoIs.role === 'admin'){ %>
                                <td>
                                    <a href="/user/<%= user.email %>/edit" class="btn-edit">Modifier</a>
                                    <form action="/user/<%= user.email %>/delete" method="POST" style="display: inline;">
                                        <button type="submit" class="btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</button>
                                    </form>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
<%- include('json') %>
</div>